<% layout("layout/boilerplate") %>



    <h3></h3>
    <ul class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-6 ">
        <% for(let listing of allListings) { %>
            <li class="break-inside-avoid mb-6">
                <a href="/listings/<%= listing._id %>">

                    <div class="p-4 bg-white rounded-lg shadow hover:shadow-xl transition">
                        <p class="text-gray-900 text-xl font-semibold uppercase">
                            <%= listing.title %>
                        </p>

                        <!-- <p class="text-gray-500 text-sm">
                            <%= listing.description %>
                        </p> -->

                        <p class="text-gray-900 font-semibold text-sm mb-3">
                            <%= listing.price %>
                        </p>

                        <img class="rounded-md w-full mb-3" src="<%= listing.image %>" alt="">
                    </div>

                </a>
            </li>
            <% } %>
    </ul>
    <form method="GET" action="/listings/new" class="flex justify-center">
        <button
            class="group px-8 py-2.5 bg-mist-300 rounded-full text-gray-900 cursor-pointer active:scale-95 transition duration-300 hover:shadow-xl transition mt-3 ">
            <p class="relative h-6 overflow-hidden">
                <span class="block transition-transform duration-300 group-hover:-translate-y-full">create new
                    listing</span>
                <span
                    class="absolute w-full top-full left-1/2 -translate-x-1/2 block transition-transform duration-300 group-hover:translate-y-[-100%]">create
                    new listing</span>
            </p>
        </button>

    </form>