<% layout("layout/boilerplate") %>
    <h1>
        <%= listing.title %>
    </h1>
    <p>
        <%= listing.author %>
    </p>
    <p>
        <%= listing.description %>
    </p>
    <p>
        <%= listing.price %>
    </p>
    <p>
        <%= listing.rating %>
    </p>
    <a href="/listings/<%= listing._id %>/edit">edit</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>delete</button>
    </form>